
@{
    ViewBag.Title = "GrafikForm";
}
<h2>İstatistik</h2>

@using (Html.BeginForm())
{
    @*<div class="container">

            <div class='col-md-5'>

                <label for="birinci">Bu tarihten </label>
                <div class="form-group" id="birinci">


                    <div class="input-group date" id='datetimepicker6'>

                        <input type='text' class="form-control" name="Giris" />
                        <span class="input-group-addon ">

                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>

                    </div>
                </div>

            </div>


            <div class='col-md-5'>
                <label for="birinci">Bu tarihe </label>
                <div class="form-group" id="ikinci">

                    <div class='input-group date' id='datetimepicker7'>

                        <input type='text' name="Cikis" class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class='col-md-5'>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Sorgula</button>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $(document).ready(
                $(function () {
                    $('#datetimepicker6').datetimepicker({
                        format: 'DD/MM/YYYY HH:mm'
                    });
                    $('#datetimepicker7').datetimepicker({
                        useCurrent: false, //Important! See issue #1075
                        format: 'DD/MM/YYYY HH:mm'
                    });
                    $("#datetimepicker6").on("dp.change", function (e) {
                        $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
                    });
                    $("#datetimepicker7").on("dp.change", function (e) {
                        $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
                    });
                }));

        </script>*@

    @*<div class="input-group">
            <span class="input-group-addon"><i class="icon ion-calendar tx-16 lh-0 op-6"></i></span>
            <input type="text" class="form-control fc-datepicker" placeholder="MM/DD/YYYY">
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-clock-o tx-16 lh-0 op-6"></i></span>
            <input id="tpBasic" type="text" class="form-control" placeholder="Set time">
        </div>*@



    <div class='col-md-5'>
        <label for="bir">Bu Zamandan</label>
        <div class="form-group" id="bir">
            <div class="input-group date" id="datetimepicker7" data-target-input="nearest">
                <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker7" />
                <div class="input-group-append" data-target="#datetimepicker7" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
        </div>
    </div>
    
    <div class='col-md-5'>
        <label for="iki">Bu Zamana kadar</label>
        <div class="form-group" id="iki">
            <div class="input-group date" id="datetimepicker8" data-target-input="nearest">
                <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker8" />
                <div class="input-group-append" data-target="#datetimepicker8" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
        </div>
    </div>

        <script type="text/javascript">
            $(function () {
                $('#datetimepicker7').datetimepicker({


                });
                $('#datetimepicker8').datetimepicker({
                    useCurrent: false,

                });
                $("#datetimepicker7").on("change.datetimepicker", function (e) {
                    $('#datetimepicker8').datetimepicker('minDate', e.date);
                });
                $("#datetimepicker8").on("change.datetimepicker", function (e) {
                    $('#datetimepicker7').datetimepicker('maxDate', e.date);
                });
            });
        </script>






}



