

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li><h3>Şimdiye kadar giren araç sayısı:@ViewBag.bugunkuAracSayisi </h3></li>
    <li><h3>Anlık doluluk oranı:@ViewBag.anlikDoluluk</h3></li>
</ul>




